.root {
    -fx-background-color: #2b2928;
}

.table-view {
    -fx-background-color: #2b2928;
    -fx-font-size: 13px;
}


.column-header-background {
    -fx-background-color: linear-gradient(#595858 0%, #2b2928 100%);
}

.label {
    -fx-text-fill: white;
}

.column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #616161;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #424242;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: black;


}

.filler {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: white;
}

.chart-bar {
    -fx-bar-fill: #91bbe6;
}

.axis {
    -fx-font-size: 16px;
}